<!DOCTYPE html>
<html lang="fa" dir='rtl'>
<head>
    <title> About Us </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="../static/mobile.css">
</head>


<nav id="navbar">


    <div class='container'>
        <img class="logo" src="/static/logo.png" alt="Photo" width="400" height="477">


        <ul>
            <li><a href="#">صفحه اصلی</a></li>
            <li><a href="#">سوالات متداول</a></li>
            <li><a href="#">تماس با ما</a></li>
            <li><a href="/about_us">درباره ما</a></li>
            <li><a href="#">ثبت نام</a></li>

        </ul>

        <button class="header-button" type="submit"> پیشبینی پیشرفته</button>

    </div>


    </div>


</nav>


<div>
    <p>
        درباره ما
    </p>
</div>
<p class="border-width-6"></p>
<body>
<div class='about-us-div'>
    <p>
        گروه مهندسین رخنه در نوروز سال 1402 با 12 میلیون تومان سرمایه اولیه و توسط جمع 5 ‌نفری ، علیرضا رحیم خان کریمی ،
        امید همت افزا ، سمیرا خاکساری ، نوروزی با مدیریت آقای مرتضی طلوع کار خود را آغاز کرد یکی از محصول های این تیم ،
        مکانیزه کردن فرایندهای خرید و فروش ملک با تعریف وساخت برنامه تحت وب مسکن فی به عنوان یک شتابدهنده بر مبنای هوش
        مصنوعی می باشد فرآیندی جدید مبتنی بر یادگیری عمیق ، استراتژی های روز مدیریت بازرگانی و سیستم های اطلاعات مدیریت
        است که برای دوستاران عرصه فناوری اطلاعات محصولی کاربردی را به ارمغان می آورد.
    </p>
</div>
<p class="border-width-6"></p>
<div>
    <p>
        سرمایه انسانی تیم رخنه
    </p>
</div>
<p class="border-width-6"></p>
<div class="employees">
    <img class="about-us-img" src="/static/about%20_us_files/image001.png" alt="Photo">
    <div class='resume'>
        <p>
            مرتضی طلوع
            <br>
            کارشناس ارشد مهدنسی کامپیوتر

        </p>
    </div>
</div>
<p class="border-width-6"></p>
<div class="employees">
    <img class="about-us-img" src="/static/about%20_us_files/image002.png" alt="Photo">
    <div class='resume'>
        <p>
            امید همت افزا
            <br>
            دکترای مدیریت بازرگانی

        </p>
    </div>
</div>
<p class="border-width-6"></p>
<div class="employees">
    <img class="about-us-img" src="/static/about%20_us_files/image003.png" alt="Photo">
    <div class='resume'>
        <p>
            علیرضا رحیم خان کریمی
            <br>
            کارشناس ارشد مهندسی IT

        </p>
    </div>
</div>
<p class="border-width-6"></p>
<div class="employees">
    <img class="about-us-img" src="/static/about%20_us_files/image004.png" alt="Photo">
    <div class='resume'>
        <p>
            غزل نوروزی
            <br>
            دانشجوی مهندسی نرم افزار

        </p>
    </div>
</div>
<p class="border-width-6"></p>
<div class="employees">
    <img class="about-us-img" src="/static/about%20_us_files/image005.png" alt="Photo">
    <div class='resume'>
        <p>
            سمیرا خاکساری
            <br>
            نامشخص!

        </p>
    </div>
</div>
<p class="border-width-6"></p>


</body>
</html>