
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ارزشگذاری قیمت مسکن</title>
    <meta name="description" content="ارزش گذاری قیمن مسکن">
     <meta name="keywords" content="برآورد ,مسکن ,قیمت">
</head>
<body>
<h1>سایت ارزش گذاری قیمت مسکن</h1>
<a href="/register">ثبت نام</a>
<form action="house_save" method="post">
 <img src="/house_image" alt="ارزش گذاری قیمت مسکن"/><br>
 <p> <strong>این خونه چند می ارزه؟</strong></p><hr>
    <p>با یک کلیک،<br>
    <strong>ارزش واقعی خونه ای که میخوای بخری یا بفروشی رو به دست بیار!</strong></p><hr>
    <p><strong>اطلاعات مورد نظر را وارد نمایید</strong></p>


    نوع معامله<input type="text" value="{{bargain_type }}" name="bargain_type"  required/><br>
    نوع ملک<input type="text" value="{{house_type }}" name="house_type"  required/><br>
    شهر<input type="text" value="{{city }}" name="city_id"  required/><br>


   <label>منطقه</label>
    <select name="region_id" id="rgin">

         {% for Region in region %}
             <option value="{{ Region.name }}">{{ Region.name }} </option>
         {% endfor %}

    </select>
    <script>
        document.getElementById("rgin").selectedIndex="-1";
    </script><br>

    مساحت آپارتمان<input type="number" name="area" placeholder="متراژ آپارتمان را وارد کنید" required/><br>
    سال ساخت<input type="number" name="building_year" placeholder="سال ساخت آپارتمان را وارد کنید" required /><br>
    <label>نوع سند</label>
    <select name="title_deeds" id="td" disabled>
        <option value="سند شش دانگ">سند شش دانگ</option>
        <option value="قولنامه ای">قولنامه ای</option>
        <option value="اوقاف">اوقاف</option>
    </select><br/>
    <script>
        document.getElementById("td").selectedIndex="-1";
    </script>
    طبقه<input type="number" name="floor" placeholder="طبقه آپارتمان را وارد کنید" required disabled/><br>
    تعداد واحد در طبقه<input type="number" name="unit_per_floor" placeholder="تعداد واحد در طبقه را وارد کنید" required disabled/><br>
    تعداد کل واحدهای ساختمان<input type="number" name="total_unit" placeholder="تعداد کل واحدهای ساختمان را وارد کنید" required disabled/><br>
    <label>آسانسور</label>
    <select name="elevator" id="el" disabled>
        <option value="دارد">دارد</option>
        <option value="ندارد">ندارد</option>
    </select><br/>
    <script>
        document.getElementById("el").selectedIndex="-1";
    </script>
    <label>پارکینگ</label>
    <select name="parking" id="pa"  disabled >
        <option value="دارد">دارد</option>
        <option value="ندارد">ندارد</option>
    </select><br/>
    <script>
        document.getElementById("pa").selectedIndex="-1";
    </script>
    <label>انباری</label>
    <select name="store_room" id="sr"  disabled>
        <option value="دارد">دارد</option>
        <option value="ندارد">ندارد</option>
    </select><br/>
    <script>
        document.getElementById("sr").selectedIndex="-1";
    </script>
    <button type="submit" onclick="location.href='/house_save';">حساب کن!</button>
    <button type="button" onclick="location.href='/';">بازگشت</button><br><hr>
<a href="https://divar.ir/">به سایت دیوار هم سر بزن</a>
</form>
</body>
</html>