
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>سامانه تخمین قیمت مسکن</title>
</head>
<body>
<p> <strong> سامانه تخمین قیمت مسکن</strong></p> <a href="/">صفحه اصلی</a><hr>
<form action='user_save'method="post">
    <p><strong>ثبت کاربر</strong></p>
    نام:<input type="text" name="first_name" required/><br />
    نام خانوادگی: <input type="text" name="last_name" required/><br />
    شماره تماس:<input type="tel" name="phone" required/><br/>
    پست الکترونیکی:<input type="email" name="email"required /><br/>
    <button type="submit">ثبت نام</button>
</form>
</body>
</html>